version: "0.52.0-beta"

#apiUrl:
#frontUrl:

imagePullSecrets: {}
  #- name: ghcr-pull-secret

# Only for Development, Staging or PoC, you should use a managed Redis instance for Production
redis:
  enabled: true
  image:
    tag: 6.2.14
  replica:
    replicaCount: 0
  auth:
    enabled: false
  master:
    service:
      ports:
        redis: 6379
# Only for Development, Staging or PoC, you should use a managed PostgreSQL instance for Production
postgresql:
  enabled: true

global:
  # Define your Lago Premium License
  #license:
  # If you use a managed PG instance
  # Should respect this format postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
  #databaseUrl:
  #redisUrl:

  postgresql:
    auth:
      username: lago
      password: lago
      database: lago
    service:
      ports:
        postgresql: 5432

  # You can disable segment tracking for Lago's internal purpose
  segment:
    enabled: true
  s3:
    enabled: false
    # aws:
    #   accessKeyId:
    #   secretAccessKey:
    #   bucket:
    #   region:
  smtp:
    enabled: false
    #address:
    #username:
    #password:
    #port:
    #fromEmail:
  newRelic:
    enabled: false
    #key

  # You can disable Lago's signup
  signup:
    enabled: true

  #ingress:
    #frontHostname:
    #apiHostname:
    #className:

front:
  replicas: 1
  service:
    port: 80
  resources:
    memory: 128
    cpu: "100m"

api:
  image: {}
    #repository: ghcr.io/your-org/lago-api
    #tag: v0.52.0-beta-fork1
  replicas: 1
  service:
    port: 3000
  rails:
    maxThreads: 10
    webConcurrency: 4
    env: "production"
    logStdout: true
  sidekiqWeb:
    enabled: true
  resources:
    memory: 128
    cpu: "100m"
  volumes:
    storage: "10Gi"

worker:
  replicas: 1
  rails:
    sidekiqConcurrency: 100
    env: "production"
    logStdout: true
  resources:
    memory: 128
    cpu: "100m"

eventsWorker:
  replicas: 1
  rails:
    sidekiqConcurrency: 100
    env: "production"
    logStdout: true
  resources:
    memory: 128
    cpu: "100m"

clock:
  replicas: 1
  rails:
    env: "production"
    logStdout: true
  resources:
    memory: 128
    cpu: "100m"

pdf:
  replicas: 1
  service:
    port: 3001
  resources:
    memory: 128
    cpu: "100m"