---
replicas:
  api: 1
  clock: 1
  front: 1
  worker: 1

lago_release: "0.50.0-beta"

# This "embedded" redis is for quick development purpose. NEVER USE IN PRODUCTION
redis:
  enabled: true
postgresql:
  enabled: true

hostname:
  &hostname "lago.dev"

x-environment:
    - &lago-api-url
      name: LAGO_API_URL
      value: "http://lago-api-svc.default"
    - &redis-url
      name: REDIS_URL
      # use "redis://lago-redis-svc.lago:6379" if you enable this chart embedded redis
      value: "redis://lago-redis-svc.default:6379"
    - &rails-env
      name: RAILS_ENV
      value: "production"
    - &lago-front-url
      name: LAGO_FRONT_URL
      value: "http://lago-front-svc.default"
    - &lago-disable-segment
      name: LAGO_DISABLE_SEGMENT
      value: "true"

x-secrets:
  - &db
    name: DATABASE_URL
    valueFrom:
      secretKeyRef:
        name: lago
        key: db_url
  # Used for session encryption
  - &secret-key-base
    name: SECRET_KEY_BASE
    valueFrom:
      secretKeyRef:
        name: lago
        key: sessions_secret_key_base
  # Private key used for webhook signatures // private RSA key, base64 encoded
  - &lago-rsa-private-key
    name: LAGO_RSA_PRIVATE_KEY
    valueFrom:
      secretKeyRef:
        name: lago
        key: lago_rsa_private_key
  # Encryption primary key used to secure sensitive values stored in the database
  - &encryption-primary-key
    name: ENCRYPTION_PRIMARY_KEY
    valueFrom:
      secretKeyRef:
        name: lago
        key: encryption_primary_key
  # Encryption deterministic key used to secure sensitive values stored in the database
  - &encryption-deterministic-key
    name: ENCRYPTION_DETERMINISTIC_KEY
    valueFrom:
      secretKeyRef:
        name: lago
        key: encryption_deterministic_key
  # Encryption key salt used to secure sensitive values stored in the database
  - &encryption-key-derivation-salt
    name: ENCRYPTION_KEY_DERIVATION_SALT
    valueFrom:
      secretKeyRef:
        name: lago
        key: encryption_key_derivation_salt

api:
  port: 3000
  environment:
    - *lago-api-url
    - *redis-url
    - *rails-env
    - *lago-front-url
    - *lago-disable-segment
    - *db
    - *secret-key-base
    - *lago-rsa-private-key
    - *encryption-primary-key
    - *encryption-deterministic-key
    - *encryption-key-derivation-salt
  resources:
    cpu: "100m"
    memory: "128M"

worker:
  environment:
    - *lago-api-url
    - *redis-url
    - *rails-env
    - *lago-front-url
    - *lago-disable-segment
    - *db
    - *secret-key-base
    - *lago-rsa-private-key
    - *encryption-primary-key
    - *encryption-deterministic-key
    - *encryption-key-derivation-salt
  resources:
    cpu: "100m"
    memory: "128M"

front:
  port: 80
  environment:
    - name: APP_ENV
      value: "production"
    - name: LAGO_DISABLE_SIGNUP
      value: "false"
  resources:
    cpu: "100m"
    memory: "128M"

clock:
  environment:
    - *lago-api-url
    - *redis-url
    - *rails-env
    - *lago-front-url
    - *db
    - *secret-key-base
    - *lago-rsa-private-key
    - *encryption-primary-key
    - *encryption-deterministic-key
    - *encryption-key-derivation-salt
  resources:
    cpu: "100m"
    memory: "128M"

ingress:
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
      # CIS Nginx Configuration 5.1.2 - Ensure only whitelisted HTTP methods are allowed
      if ($request_method !~ ^(GET|HEAD|POST|DELETE|PUT|OPTIONS)$) { return 444; }

      # CIS Nginx Configuration 5.3 - Browser security headers
      add_header X-Frame-Options "SAMEORIGIN";
      add_header X-Content-Type-Options "nosniff";
      add_header X-Xss-Protection "1; mode=block";
      add_header Referrer-Policy "no-referrer";
      add_header Content-Security-Policy "default-src 'none'; script-src 'self';connect-src 'self';img-src 'self' data:; font-src 'self' fonts.gstatic.com; style-src 'self' 'unsafe-inline' fonts.googleapis.com;base-uri 'self';form-action 'self'; manifest-src 'self'";

    # Whitelist of IPs allowed to connect to the ingress (web UI) - comma separated
    nginx.ingress.kubernetes.io/whitelist-source-range: 1.2.3.4/32,2.3.4.5/32
