apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  labels:
    {{ include "lago.labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-2"
    helm.sh/resource-policy: keep
type: Opaque
data:
  {{ $secretName := printf "%s-secrets" .Release.Name }}
  {{ $secretObj := (lookup "v1" "Secret" .Release.Namespace $secretName) | default dict}}
  {{ $secretData := (get $secretObj "data") | default dict }}

  {{ $rsaPrivateKey := (get $secretData "rsaPrivateKey") | default (genPrivateKey "rsa" | b64enc | b64enc) }}
  rsaPrivateKey: {{ $rsaPrivateKey | quote }}

  {{ $secretKeyBase := (get $secretData "secretKeyBase") | default (randAlphaNum 64 | b64enc | b64enc) }}
  secretKeyBase: {{ $secretKeyBase | quote }}

  {{- if not .Values.encryption.existingSecret }}
  {{ $encryptionPrimaryKey := (get $secretData "encryptionPrimaryKey") | default (randAlphaNum 32 | b64enc | b64enc) }}
  encryptionPrimaryKey: {{ $encryptionPrimaryKey | quote }}

  {{ $encryptionDeterministicKey := (get $secretData "encryptionDeterministicKey") | default (randAlphaNum 32 | b64enc | b64enc) }}
  encryptionDeterministicKey: {{ $encryptionDeterministicKey | quote }}

  {{ $encryptionKeyDerivationSalt := (get $secretData "encryptionKeyDerivationSalt") | default (randAlphaNum 32 | b64enc | b64enc) }}
  encryptionKeyDerivationSalt: {{ $encryptionKeyDerivationSalt | quote }}
  {{- end }}

  {{- if not .Values.global.existingSecret }}
  databaseUrl: {{ required "global.databaseUrl value is required" .Values.global.databaseUrl | b64enc | quote }}
  {{- end }}

  {{- if not .Values.global.existingSecret }}
  redisUrl: {{ required "global.redisUrl value is required" .Values.global.redisUrl | b64enc | quote }}
  {{ if .Values.global.redisCacheUrl }}
  redisCacheUrl: {{ .Values.global.redisCacheUrl | b64enc | quote }}
  {{ else }}
  redisCacheUrl: {{ required "global.redisUrl value is required" .Values.global.redisUrl | b64enc | quote }}
  {{ end }}
  {{- end }}

  {{ if .Values.global.license }}
  license: {{ .Values.global.license | b64enc | quote }}
  {{ end }}

  {{- if not .Values.global.existingSecret }}
  {{ if .Values.global.s3.enabled }}
  {{ if .Values.global.s3.accessKeyId }}
  awsS3AccessKeyId: {{ .Values.global.s3.accessKeyId | b64enc }}
  {{ end }}
  {{ if .Values.global.s3.secretAccessKey }}
  awsS3SecretAccessKey: {{ .Values.global.s3.secretAccessKey | b64enc }}
  {{ end }}
  {{ if eq .Values.global.s3.provider "minio" }}
  {{ if .Values.global.s3.minio.accessKeyId }}
  rootUser: {{ .Values.global.s3.minio.accessKeyId | b64enc }}
  {{ end }}
  {{ if .Values.global.s3.minio.secretAccessKey }}
  minioSecretAccessKey: {{ .Values.global.s3.minio.secretAccessKey | b64enc }}
  {{ end }}
  {{ end }}
  {{ end }}
  {{- end }}

  {{- if not .Values.global.existingSecret }}
  {{ if .Values.global.smtp.enabled }}
  smtpUsername: {{ .Values.global.smtp.username | b64enc }}
  smtpPassword: {{ .Values.global.smtp.password | b64enc }}
  {{ end }}
  {{- end }}

  {{ if .Values.global.newRelic.enabled }}
  newRelicKey: {{ .Values.global.newRelic.key | b64enc }}
  {{ end }}

  {{- if not .Values.global.existingSecret }}
  {{ if .Values.global.googleAuth.enabled }}
  googleAuthClientId: {{ .Values.global.googleAuth.clientId | b64enc }}
  googleAuthClientSecret: {{ .Values.global.googleAuth.clientSecret | b64enc }}
  {{ end }}
  {{- end }}

  {{- if not .Values.global.existingSecret }}
  {{ if .Values.global.clickhouse.enabled }}
  kafkaUsername: {{ default "" .Values.global.clickhouse.kafka.username | b64enc }}
  kafkaPassword: {{ default "" .Values.global.clickhouse.kafka.password | b64enc }}
  clickhouseUsername: {{ default "" .Values.global.clickhouse.username | b64enc }}
  clickhousePassword: {{ default "" .Values.global.clickhouse.password | b64enc }}
  {{ end }}
  {{- end }}
