apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.lago.service: {{ .Release.Name }}-front
  name: {{ .Release.Name }}-front
spec:
  replicas: 1
  selector:
    matchLabels:
      io.lago.service: {{ .Release.Name }}-front
  template:
    metadata:
      labels:
        io.lago.service: {{ .Release.Name }}-front
    spec:
      containers:
        - env:
            - name: API_URL
              value: {{ .Values.apiUrl | quote }}
            - name: APP_ENV
              value: production
            - name: CODEGEN_API
              value: {{ .Values.apiUrl | quote }}
            - name: LAGO_DISABLE_SIGNUP
              value: {{ not .Values.global.signup.enabled | quote }}
          image: getlago/front:v{{ .Values.version }}
          name: {{ .Release.Name }}-front
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            requests:
              memory: {{ .Values.front.resources.memory }}
              cpu: {{ .Values.front.resources.cpu }}
      restartPolicy: Always
