apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.lago.service: {{ .Release.Name }}-pdf
  name: {{ .Release.Name }}-pdf
spec:
  replicas: {{ .Values.pdf.replicas }}
  selector:
    matchLabels:
      io.lago.service: {{ .Release.Name }}-pdf
  template:
    metadata:
      labels:
        io.lago.service: {{ .Release.Name }}-pdf
        {{- range $key, $value := .Values.pdf.podLabels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      annotations:
        {{- range $key, $value := .Values.pdf.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
    spec:
      containers:
        - image: getlago/lago-gotenberg:7.8.2
          name: {{ .Release.Name }}-pdf
          ports:
            - containerPort: 3000
              protocol: TCP
          {{- with .Values.pdf.resources }}
          resources:
            {{- toYaml . | nindent 12}}
          {{- end }}
          env:
            {{- with .Values.pdf.extraEnv }}
            {{- range $key, $value := . }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
      restartPolicy: Always
